/* 
 * Office 365 Suite Bar
 * =======================================================================
 */
.o365cs-base.o365cst.o365cs-topnavBGColor-2 {
  background-color: #0072c6 !important;
}

.o365cs-base.o365cst .ms-bgc-tp, .o365cs-base.o365cst .ms-bgc-tp-h:hover,
.o365cs-base.o365cst.ms-bgc-tp {
  background-color: #0072c6 !important;
}

.o365cs-base.o365cst .o365cs-topnavLinkBackground-2 {
  background-color: #0072c6 !important;
}

.o365cs-base.o365cst .ms-bgc-tdr,
.o365cs-base.o365cst .ms-bgc-tdr-h:hover {
  background-color: #00467a !important;
}

/* 
 * TYPOGRAPHY
 * =======================================================================
 */
h1,
h2,
.ms-rtestate-field h1,
h1.ms-rteElement-H1,
.ms-rtestate-field h2,
h2.ms-rteElement-H2 {
  color: #0072c6;
}

.ms-rteStyle-Emphasis,
.ms-rteStyle-IntenseEmphasis {
  color: #0072c6;
}

.ms-rteStyle-Emphasis,
.ms-rteStyle-IntenseEmphasis {
  color: #0072c6;
}

.ms-rteStyle-Comment,
.ms-rteStyle-Accent1 {
  color: #0072c6;
}

.ms-rteStyle-Caption,
.ms-rteStyle-Accent2 {
  color: #005593;
}

.ms-heroCommandLink,
ms-heroCommandLink:visited {
  color: #0072c6;
}

.ms-heroCommandLink:hover,
.ms-heroCommandLink:active {
  color: #005593;
}

a,
.ms-link:visited {
  color: #0072c6;
}

.ms-webpart-titleText,
.ms-webpart-titleText > a:hover {
  color: #0072c6;
}

.ms-pivotControl-surfacedOpt:hover,
.ms-pivotControl-overflowDot:hover,
.ms-pivotControl-surfacedOpt-selected {
  color: #0072c6;
}

/* 
 * PAGE ELEMENTS
 * =======================================================================
 */
/* 
 * Site Logo
 * ---------
 */
#siteIcon {
  min-width: 182px;
}

.ms-siteicon-a {
  max-height: 100px;
}
.ms-siteicon-a img {
  max-height: 100px;
}

/* 
 * Left Navigation
 * ---------------
 */
#sideNavBox {
  padding-top: 29px;
}

/* 
 * Top Navigation 
 * --------------
 */
#DeltaTopNavigation {
  padding: 0;
  font-size: 1em;
  display: block;
  background-color: transparent;
}
#DeltaTopNavigation .ms-core-listMenu-item,
#DeltaTopNavigation .ms-listMenu-editLink {
  padding: 1em 1em;
  margin: 0;
  color: #fff;
}
#DeltaTopNavigation .ms-navedit-editLinksText > span > .ms-metadata,
#DeltaTopNavigation .ms-core-listMenuEdit > tr > .ms-navedit-linkCell > .ms-core-listMenu-item {
  color: #fff;
}
#DeltaTopNavigation .ms-core-listMenu-item {
  color: #0072c6;
  background-color: transparent;
  transition: all 0.3s ease;
}
#DeltaTopNavigation .selected:hover .selected.ms-core-listMenu-item,
#DeltaTopNavigation .selected.ms-core-listMenu-item {
  background-color: #f2f2f2;
  color: #0072c6;
}
#DeltaTopNavigation .ms-core-listMenu-horizontalBox .dynamic-children.additional-background {
  background: none;
  width: 0;
  height: 0;
  padding: 0;
}
#DeltaTopNavigation .ms-core-listMenu-horizontalBox .dynamic-children.additional-background:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5.196px solid #0072c6;
  margin-bottom: 2px;
}
#DeltaTopNavigation .dynamic .ms-core-listMenu-item {
  background-color: #fff;
  color: #444;
}
#DeltaTopNavigation .dynamic .ms-core-listMenu-item:hover, #DeltaTopNavigation .dynamic .ms-core-listMenu-item.hover {
  color: #fff;
}
#DeltaTopNavigation .dynamic .ms-core-listMenu-horizontalBox .dynamic-children.additional-background:after {
  display: inline !important;
}
#DeltaTopNavigation .ms-core-listMenu-root,
#DeltaTopNavigation .ms-core-listMenu-root ul {
  padding: 0;
}
#DeltaTopNavigation .ms-core-listMenu-root ul,
#DeltaTopNavigation .ms-core-listMenu-root ul li {
  list-style-type: none;
}
#DeltaTopNavigation .ms-core-listMenu-root .ms-core-listMenu-item:hover,
#DeltaTopNavigation .ms-core-listMenu-root li.hover > .ms-core-listMenu-item {
  color: #333;
  background-color: #ccc;
  box-shadow: none;
}
#DeltaTopNavigation .dynamic-children.hover .dynamic .dynamic-children.additional-background,
#DeltaTopNavigation .dynamic-children .dynamic .dynamic-children.additional-background {
  background: none;
  width: 0;
  height: 0;
  padding: 0;
}
#DeltaTopNavigation .dynamic-children.hover .dynamic .dynamic-children.additional-background:after,
#DeltaTopNavigation .dynamic-children .dynamic .dynamic-children.additional-background:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 5.196px solid #444;
}
#DeltaTopNavigation .dynamic-children.hover .dynamic-children .dynamic-children.ms-core-listMenu-item {
  border-top-color: #333;
}

/* 
 * Search box
 * ----------
 */
.ms-srch-sb > input {
  padding: initial;
}

.ms-srch-sb-navLink,
.ms-srch-sb-searchLink {
  margin-top: 0;
}

/* 
 * WEB PARTS
 * =======================================================================
 */
.ms-webpart-zone {
  padding: 0 0.5em;
}

/* 
 * MS Tiles
 * --------
 */
.ms-tileview-tile-content {
  background-color: #0072c6;
}

.ms-tileview-tile-detailsBox {
  transition: background 0.25s ease;
}

/* 
 * Web Part Titles
 * ---------------
 */
.ms-webpart-titleText {
  padding: 0.2em 0.5em;
  border: 1px solid;
  border-color: #f2f2f2 #efefef #eaeaea;
  border-radius: 1px;
}

.ms-webpart-titleText,
h2.ms-webpart-titleText > span,
h2.ms-rteElement-H2B > span,
h2.ms-webpart-titleText > a {
  display: block;
  background-color: #f2f2f2;
}

h2.ms-webpart-titleText > a {
  text-decoration: underline;
}

/* 
 * Web Part Chrome Types
 * ---------------------
 */
.ms-WPBorderBorderOnly,
.ms-WPBorder {
  padding: 1em;
  background-color: #fafafa;
  border-color: #c7c7c7;
}

/* 
 * Calendar View
 * -------------
 */
.ms-acal-rootdiv {
  padding: 0.5em;
}
